$fa-font-path: "../fonts";

$header-height : 100px ;


$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 1000px,
  lg: 1400px,
  xl: 1900px
) ;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px
);

// Body
$body-bg: #fff;
$dark-bg: #c80606;
$dark-bg-high: #ff0000;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$vincent-blue: #262262;
$vincent-orange: #e94e1b;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;