$fa-font-path: "../fonts";

$header-height : 100px ;

$header-top-margin: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 1000px,
  lg: 1400px,
  xl: 1900px
) ;

$container-max-widths: (
  sm: 540px,
  md: 1000px,
  lg: 1100px,
  xl: 1400px
);

// Body
$body-bg: #fff;
$dark-bg: #c80606;
$dark-bg-high: #ff0000;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$vincent-blue: #164194;//#222;//#262262;
$vincent-orange: #dd6722; //#e26728;//#e94e1b;
$vincent-light-orange: #f9b233;//#e94e1b;
$vincent-alpha-orange: #ffb300d4;;

$vincent-black: #252525;//#e94e1b;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;

$site-border-radius: 15px;