// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

// Variables
@import 'variables';

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce.scss"; 
@import "../../plugins/woocommerce/assets/css/woocommerce-layout.scss"; 

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

//swiper
@import "../../node_modules/swiper/dist/css/swiper"; 

body{
	margin-top: -32px;
	font-family: 'Encode Sans Expanded', sans-serif;
}

section {
	@extend .pt-2;
	@extend .pb-3;
    @include make-row();
    h1{
    	@extend .text-center;
    	@extend .d-block;
    	@extend .px-2;
    	width: 100%;
    	color: $vincent-blue;
    }
}
header{
	@extend .container-fluid;
	.site-logo{
		@extend .d-block;
		@include media-breakpoint-up(sm) {
	        @include make-col(3);
	        padding: 20px;
	        max-width: 210px;	
	        
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(12);
	        min-width: 100px;	
	        .logo{
	        	width: 25%;
	        	min-width: 100px;	
	        	margin-left: auto;
	        	margin-right: auto;
	        }
		}
	}

	.menu {
		@extend .pr-4;
		@include media-breakpoint-up(sm) {
			@include make-col(9);
			padding-top: 2.4rem;
		}
		@include media-breakpoint-down(sm) {
			@include make-col(12);
			padding-top: 1rem;
		}

		li{
			@extend .p-0;
			list-style-type: none;
			@include media-breakpoint-up(sm) {
				display: inline;
				float:right;
				margin-right:20px; 
				a{
					padding-bottom: 10px;
				}
			}
			@include media-breakpoint-down(sm) {
				padding: 0;
				margin:0;
				display: block;
				width: 100%;
				text-align: center;
			}
			a{
				text-decoration: none;
				text-transform: uppercase;
				font-size: $font-size-base*1.0;
				font-weight: bold;
				color:$vincent-blue;
				&:hover{
					@include media-breakpoint-up(md) {
						border-bottom: 4px solid;
					}
					@include media-breakpoint-down(md) {
						border-bottom: none;
					}
				}
			}

		}
		.current-menu-item{
			a{
				color: $vincent-orange;
				&:hover{
					@include media-breakpoint-up(md) {
						border-bottom: 4px solid;
					}
					@include media-breakpoint-down(md) {
						border-bottom: none;
					}
				}
			}
		}
	}
}

.swiper-container {
  width: 100%;
  height: auto;
  //max-height: 700px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

footer{
	.footer-logo{
		@extend .p-4;
		@extend .d-block;
		@extend .mx-auto;
	}
	.bottom-text{
		color: $gray-500;
		width: 100%;
	}
	.footer-company-about{
		@extend .p-2;
		@extend .text-center;
		color: $gray-600;
	}
	.footer-center{
		.footer-contact-pill{
			@extend .d-block;
			@extend .p-2;
			@extend .px-4;
			i{
				
				background-color: $gray-800;
				color: $body-bg;
				font-size: 16px;
				border-radius: 50%;
				text-align: center;
				line-height: 42px;
				vertical-align: middle;
				width: 38px;
				height: 38px;
			}
			p{
				display: inline-block;
				color: $gray-800;
				font-weight: bold;
				vertical-align: middle;
				margin: 0;
				span{
					display: block;
					font-weight: normal;
					font-size: 14px;
					line-height: 2;
				}
			}
			a{
				color: black;
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}
.flags{
	@extend .mx-auto;
	width: auto;
	max-width: 230px;
}
.proud-to-be{
	@extend .d-block;
	@extend .mx-auto;
	width: auto;
	max-width: 100px;
}
.brands{
	@include make-col(12);
	.row{
		@include media-breakpoint-up(sm) {
			padding-left: 15%;
			padding-right: 15%;
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        padding-left: 10%;
			padding-right: 10%;
	    }	

	}
	.icon{
		@extend .p-2;
		@extend .px-3;
		@include media-breakpoint-up(sm) {
	        @include make-col(2);
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(4);
	    }		
	}
	h1{
    	font-size: 1.5rem;
    }
}

.sale-point{
	@extend .px-4;
	@include media-breakpoint-up(sm) {

	    @include make-col(4);
	    .icon{
	    	@include make-col(12)
	    	height: 100px;
	    }
	    .sale-text{
	    	@include make-col(12)
	    	text-align: center;
	    }
        
    }
    @include media-breakpoint-down(sm) {
        // Smaller than md: 768px
        @include make-col(12);
	    .icon{
	    	@include make-col(3)
	    }
	    .sale-text{
	    	@include make-col(9)
	    	text-align: left;
	    	padding: 5px
	    	
	    }
	}
	.img-fluid{
		width: 100%;
		max-width: 100px;
	}
}
.fancy-font{
	width: 100%;
	font-family: 'Kaushan Script', cursive;
	font-size: 2.3rem;
}
#manutenciones{

		@extend .text-center;
}
.blog-single-resumido{
	@extend .p-3;
	color:inherit;
	text-decoration: none;
	&:hover{
		color:inherit;
		text-decoration: none;
	}
	@include media-breakpoint-up(sm) {
        @include make-col(4);
    }
    @include media-breakpoint-down(sm) {
        // Smaller than md: 768px
        @include make-col(12);
    }
    img {
		object-fit: cover;
		width:100%;
		height:230px;
	}
	h2{
		@extend .pt-2;
		font-size: $font-size-base*1.4;
		max-height: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	p{
		@extend .text-justify;
		max-height: 100px;
		overflow: hidden;
		text-overflow:ellipsis;
		color: $gray-600;
	}

}
article{
	@extend .mx-auto;
	@extend .px-3;
	max-width: 720px;
	p{
		@extend .text-justify;
	}
	.wp-block-image{
		img{
			@extend .d-block;
			@extend .mx-auto;
			@extend .img-fluid;
		}
	}
	.entry-title{
		a{
			color:$gray-700;
		}
	}
}
.nav-links{
	@include make-row();
	@extend .px-4;
	width: 100%;
	.previous{
		@include media-breakpoint-up(sm) {
	        @include make-col(6);
	        text-align: left;
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(12);
	        text-align: center;
	    }	
	}
	.next{
		@include media-breakpoint-up(sm) {
	        @include make-col(6);
	        text-align: right;
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(12);
	        text-align: center;
	    }

	}
	a{
		width: 100%;
	}
}
.wp-post-image{
	@extend .img-fluid;
}
.woocommerce-product-gallery,.woocommerce-result-count,.woocommerce-ordering{
	@extend .d-none;
}

.woocommerce,#woocommerce{
	.woocommerce-loop-product__title{
		@extend .text-center;	
	}
	ul{
		li{
			list-style-type: none;
		}
	}
	a,h2{
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
		color: $gray-800;
		&:hover{
			text-decoration: none;
			color: $gray-600;
		}

	}
	h2{
		text-transform: uppercase;
		font-size: $font-size-base*1.3;
	}
	.button{
		&.product_type_simple{
			@extend .d-block;
			@extend .text-center;
			@extend .btn;
			@extend .btn-outline-secondary;
			text-transform: uppercase;
			font-size: $font-size-base*1;
		}
	}
	#bloques,.related{
		ul{
			@include make-row();
			width: 100%;
			li{
				@extend .p-2;
				&.product-category{
					@extend .col;
				}
				&.product{
					@include media-breakpoint-up(md) {
				        @include make-col(3);
				    }
					@include media-breakpoint-down(md) {
				        @include make-col(4);
				    }	
					@include media-breakpoint-down(sm) {
				        @include make-col(6);
				    }					
				}
				img{
					@extend .img-fluid;
				}
			}
			
		}
	}
	.woocommerce-breadcrumb{
		@extend .px-4;
	}
}