// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

// Variables
@import 'variables';

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce.scss"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce-layout.scss"; 

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

//swiper
@import "../../node_modules/swiper/dist/css/swiper"; 

body{
	font-family: 'Encode Sans Expanded', sans-serif;
}
ul{
	@extend .px-2;
}
section {
	@extend .pt-2;
	@extend .pb-3;
    @include make-row();
    h1{
    	@extend .text-center;
    	@extend .d-block;
    	@extend .px-2;
    	width: 100%;
    	color: $vincent-blue;
    	a{
    		color:inherit;
    		text-decoration: none;
    		&:hover{
    			text-decoration: none;
    			color: inherit;
    		}
    	}
    }
}
:target {
  display: block;
  position: relative;
  top: -$header-height; 
  visibility: hidden;
}
.header-fill{
	//width: 100%;
	//height: 0px;
	padding-bottom: $header-height;

}
header{
	@extend .container-fluid;
	@include media-breakpoint-up(sm) {
		height: $header-height;
	}
	@include media-breakpoint-down(sm) {
		height: 100px;
	}
	overflow: visible;
	background-color: $body-bg;
	z-index: $zindex-fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 

    &.one-edge-shadow {
	  box-shadow: 0 2px 10px -7px black;
	}
	.corner-flag{
		position: absolute;
		right: 0;
		top: $header-top-margin;
		@include media-breakpoint-down(sm) {
			display: none;
		}	
	}
	.menu-button{
		z-index: $zindex-fixed + 1;
		position: absolute;
		top: 32px;
		right: 32px;	

		color: $vincent-orange;
		background-color: $body-bg;
		border-color: $vincent-orange;
	}
	.site-logo{
		@extend .d-block;
		@include media-breakpoint-up(sm) {
	        width: 15vw;
	        padding: 0px;
	        margin-left: 23px;
	        margin-top: $header-top-margin;

	        max-width: 210px;	
	        
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        padding-top: 28px;
	        min-width: 100px;
	        max-width: 50%;
        	margin-left: 20px;
        	margin-right: auto;	
	        .logo{
	        	width: 25%;
	        	min-width: 115px;	
	        	margin-left: 0;
	        	margin-right: auto;
	        }
		}
	}

	.menu {
		@extend .p-4;
		background-color: $body-bg;
		margin-right:0px;
		margin-bottom: 0px;
		margin-left: auto;
		width: 100%;

		@include media-breakpoint-up(sm) {
			padding-top: 2.4rem;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		li{
			@extend .p-0;
			list-style-type: none;
			@include media-breakpoint-between(md,xl) {
				margin-right:25px !important; 
				display: inline;
				margin-right:6px; 
				text-align: center;
				a{
					padding-bottom: 10px;
				}
			}
			@include media-breakpoint-between(md,xl) {
			}

			@include media-breakpoint-down(sm) {
				padding: 0;
				margin:0;
				display: block;
				width: 100%;
				text-align: center;
				&:hover, :active{
					background-color: $gray-500;
				}
			}
			a{
				text-decoration: none;
				text-transform: uppercase;
				@include media-breakpoint-between(md,xl) {
					font-size: $font-size-base*1.2;
				}
				@include media-breakpoint-between(xs,md) {
					font-size: $font-size-base*1.0;
				}
				font-weight: bold;
				color:$vincent-blue;
				&:hover{
					@include media-breakpoint-up(md) {
						border-bottom: 4px solid;
					}
					@include media-breakpoint-down(md) {
						border-bottom: none;
					}
				}
			}

		}
		.current-menu-item{
			a{
				color: $vincent-orange;
				&:hover{
					@include media-breakpoint-up(md) {
						border-bottom: 4px solid;
					}
					@include media-breakpoint-down(md) {
						border-bottom: none;
					}
				}
			}
		}
	}
}
.video-container{
	position: relative;
	height: 31.8vw;
	.video-overlay{
		z-index: $zindex-sticky;
		width: 100%;
		height: 100%;
		position: absolute;
		background-image:
			radial-gradient(
				ellipse at bottom,
				#e94e1baa  0%,
				#00000000 40%
			);		
		h1{
			@extend .text-center;
			width: 100%;
			color: white;
			font-size: 2.3vw;
			text-shadow: 0px 2px 10px black;
		    padding-top:  24vw;
    		//padding-left: 7vw;
    		font-family: 'Encode Sans Expanded', sans-serif;
		}
	}
	video{
		position: absolute;
		height: 100%;
		width: 100%;
	    min-width: 100%;
	    z-index: -100;		
	}
}
.cover-swiper{
	.swiper-container {
	  width: 100%;
	  height: auto;
	  min-height: 300px;
	}
	.swiper-slide {
	  text-align: center;
	  font-size: 18px;
	  background: #fff;
	  /* Center slide text vertically */
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  a{
	  	width: 100%;
	  	img{
	  		width: 100%;
	  	}
	  }
	}
	
}

footer{
	.footer-logo{
		@extend .p-4;
		@extend .d-block;
		@extend .mx-auto;
		max-width: 200px;
	}
	.bottom-text{
		color: $gray-500;
		width: 100%;
		@include media-breakpoint-up(md) {
			font-size: $font-size-base * 1.3;
		}
	}
	.footer-company-about{
		@extend .p-2;
		@extend .text-justify;
		max-width: 400px;
		color: $gray-600;
	}
	.footer-center{
		.footer-contact-pill{
			@extend .d-block;
			@extend .p-2;
			@extend .px-4;
			i{
				
				background-color: $gray-800;
				color: $body-bg;
				font-size: 16px;
				border-radius: 50%;
				text-align: center;
				line-height: 42px;
				vertical-align: middle;
				width: 38px;
				height: 38px;
			}
			p{
				display: inline-block;
				color: $gray-800;
				font-weight: bold;
				vertical-align: middle;
				margin: 0;
				span{
					display: block;
					font-weight: normal;
					font-size: 14px;
					line-height: 2;
				}
			}
			a{
				color: black;
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.cert-img{
		@extend .d-block, .img-fluid, .mx-auto;
		//max-width: 500px;
		@include media-breakpoint-between(xs,sm) {
			max-width: 100%;
			padding-left: 10px;
			padding-right: 10px;
	    }		
		@include media-breakpoint-between(sm,lg) {
			max-width: 500px;
	    }
		@include media-breakpoint-between(lg,xl) {
			max-width: 600px;
	    }
	}
}

.grow { 
transition: all .2s ease-in-out; 
}
 
.grow:hover { 
	@include media-breakpoint-up(sm) {
		transform: scale(1.06); 
	}
	@include media-breakpoint-down(sm) {
		transform: scale(1.02); 
	}

}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

 

.main-buttons-group{
	@include media-breakpoint-up(sm) {
		padding-left: 10%;
		padding-right: 10%;
	}
	@include media-breakpoint-down(sm) {}
	.columna{
		display: block;
		@include media-breakpoint-up(sm) {
			padding-left: 10px !important;
			padding-right: 10px !important;
		}
		@include media-breakpoint-down(sm) {
			padding-left: 5% !important;
			padding-right: 5% !important;
		}
		.card{
			@include media-breakpoint-down(sm) {
				margin-bottom: 15px;
			}
			display: block;
			text-decoration: none;
			border-style: solid;
			border-width: 1px;
			border-color: $gray-300;
			border-radius: 0px;
			img{
				width: 100%;
			}
			h2{
				@extend .text-center;
				@extend .mb-0;
				font-size: $font-size-base * 1.4;
				color: $vincent-blue;
				
				@include media-breakpoint-between(xs,sm) {
					padding-top: $spacer * 1.3;
					padding-bottom: $spacer * 1.3;
					font-size: $font-size-base * 1.4;
			    }		
				@include media-breakpoint-between(sm,lg) {
					padding-top: $spacer * 1.3;
					padding-bottom: $spacer * 1.3;
					font-size: $font-size-base * 1.4;
			    }
				@include media-breakpoint-between(lg,xl) {
					padding-top: $spacer *2;
					padding-bottom: $spacer *2;
					font-size: $font-size-base * 2.1;
			    }				
			}
			p{
				@extend .text-center;
				@extend .m-0;
				@include media-breakpoint-between(xs,sm) {
					padding-top: 7px;
					padding-bottom: 7px;
					padding-left: $spacer * 1;
					padding-right: $spacer * 1;
					font-size: $font-size-base * 1;
			    }		
				@include media-breakpoint-between(sm,lg) {
					padding-top: 10%;
					padding-bottom: 10%;					
					padding-left: $spacer * 1;
					padding-right: $spacer * 1;
					font-size: $font-size-base * 1;
					max-height: 7vw;	
			    }
				@include media-breakpoint-between(lg,xl) {
					padding-top: 13%;
					padding-bottom: 13%;
					padding-left: $spacer * 1.8;
					padding-right: $spacer * 1.8;
					font-size: $font-size-base * 1.4;
					max-height: 7vw;	
			    }
				color: $gray-600;
			}
		}
	}
}

.flags{
	@extend .mx-auto;
	width: auto;
	max-width: 230px;
}
.proud-to-be{
	@extend .d-block;
	@extend .mx-auto;
	width: auto;
	max-width: 100px;
}
.brands{
	margin-top: 20px;
	@include make-row();
    @include media-breakpoint-between(xs,sm) {
		padding-left: 18px;
		padding-right: 18px; 
    }		
	@include media-breakpoint-between(sm,lg) {
		padding-left: 20%;
		padding-right: 20%; 
    }
	@include media-breakpoint-between(lg,xl) {
		padding-left: 20%;
		padding-right: 20%; 
    }
    h2{
    	@extend .text-center;
    	@extend .text-uppercase;
    	font-weight: bold;
    	font-size: $font-size-base * 1.3;
    	width: 100%;
    }
	.icon{
		@include make-col-ready();
	    @include media-breakpoint-between(xs,sm) {
	    	@include make-col(4);
	    	height: 50px;
	    }		
		@include media-breakpoint-between(sm,lg) {
			@include make-col(1);
			height: 40px;
	    }
		@include media-breakpoint-between(lg,xl) {
			@include make-col(1);
			height: 40px;
	    }
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: auto;
		margin-right: auto;
		
	}
	h1{
    	font-size: 1.5rem;
    }
}

.sale-point{
	@extend .px-4;
	@include media-breakpoint-up(sm) {

	    @include make-col(4);
	    .icon{
	    	@include make-col(12)
	    	height: 100px;
	    }
	    .sale-text{
	    	@include make-col(12)
	    	text-align: center;
	    }
        
    }
    @include media-breakpoint-down(sm) {
        // Smaller than md: 768px
        @include make-col(12);
	    .icon{
	    	@include make-col(3)
	    }
	    .sale-text{
	    	@include make-col(9)
	    	text-align: left;
	    	padding: 5px
	    	
	    }
	}
	.img-fluid{
		width: 100%;
		max-width: 100px;
	}
}
.fancy-font{
	width: 100%;
	font-family: 'Kaushan Script', cursive;
	font-size: 2.3rem;
}
#manutenciones{

		@extend .text-center;
	@include media-breakpoint-between(sm,xl) {
		p{
			font-size: $font-size-base * 1.2;
		}
	}
}
.blog-single-resumido{
	@extend .p-3;
	color:inherit;
	text-decoration: none;
	&:hover{
		color:inherit;
		text-decoration: none;
	}
	@include media-breakpoint-up(sm) {
        @include make-col(4);
    }
    @include media-breakpoint-down(sm) {
        // Smaller than md: 768px
        @include make-col(12);
    }
    img {
		object-fit: cover;
		width:100%;
		height:230px;
	}
	h2{
		@extend .pt-2;
		font-size: $font-size-base*1.4;
		max-height: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	p{
		@extend .text-justify;
		overflow: hidden;
		text-overflow:ellipsis;
		color: $gray-600;
		@include media-breakpoint-between(xs,lg) {
			max-height: 110px;
			font-size: $font-size-base * 1.1;
		}
		@include media-breakpoint-between(lg,xl) {
			font-size: $font-size-base * 1.25;
			max-height: 125px;
		}
	}

}
article{
	@extend .mx-auto;
	@extend .px-3;
	max-width: 720px;
	p{
		@extend .text-justify;
	}
	.wp-block-image{
		img{
			@extend .d-block;
			@extend .mx-auto;
			@extend .img-fluid;
		}
	}
	.entry-title{
		a{
			color:$gray-700;
		}
	}
}
.nav-links{
	@include make-row();
	@extend .px-4;
	width: 100%;
	.previous{
		@include media-breakpoint-up(sm) {
	        @include make-col(6);
	        text-align: left;
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(12);
	        text-align: center;
	    }	
	}
	.next{
		@include media-breakpoint-up(sm) {
	        @include make-col(6);
	        text-align: right;
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(12);
	        text-align: center;
	    }

	}
	a{
		width: 100%;
	}
}
.wp-post-image{
	@extend .img-fluid;
}
.woocommerce-product-gallery,.woocommerce-result-count,.woocommerce-ordering{
	@extend .d-none;
}

.woocommerce,#woocommerce{
	.woocommerce-loop-product__title{
		@extend .text-center;	
	}
	ul{
		@extend .p-2;
		li{
			list-style-type: none;
		}
		&.tabs{//esocnder listado de producto solito
			&.wc-tabs{
				@extend .d-none;
			}
		}
	}
	a,h2{
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
		color: $gray-800;
		&:hover{
			text-decoration: none;
			color: $gray-600;
		}

	}
	h2{
		@extend .d-block;
		width:100%;
		text-transform: uppercase;
		font-size: $font-size-base*1.3;

	}
	.button{
		&.product_type_simple{
			@extend .d-block;
			@extend .text-center;
			@extend .btn;
			@extend .btn-outline-secondary;
			text-transform: uppercase;
			font-size: $font-size-base*1;
		}
	}
	#bloques,.related{
		.products{
			width: 100%;
		}
		ul{
			@extend .mx-auto;
			@include make-row();
			width: 100%;
			li{
				@extend .p-2;
				&.product,&.product-category{
					@include media-breakpoint-up(md) {
				        @include make-col(3);
				    }
					@include media-breakpoint-down(md) {
				        @include make-col(4);
				    }	
					@include media-breakpoint-down(sm) {
				        @include make-col(6);
				    }
				    h2{
				    	@extend .text-center;
						@include media-breakpoint-up(sm) {
					    	height: 40px;
							overflow: hidden;
				    	}
				    }					
				}
				img{
					@extend .img-fluid;
				}
			}
			
		}
	}
	.product-singleton{
		.product-image{
			@include make-col-ready();
			@include media-breakpoint-up(sm) {
		        @include make-col(5);
		    }
			@include media-breakpoint-down(sm) {
		        @include make-col(12);
		    }	
		}
		.product-description{
			@include make-col-ready();
			@include media-breakpoint-up(sm) {
		        @include make-col(7);
		        p{
		        	font-size: $font-size-base * 1.4;
		        }
		    }
			@include media-breakpoint-down(sm) {
		        @include make-col(12);
		        p{
		        	font-size: $font-size-base * 1.2;
		        }		        
		    }
		    ul{
		    	@extend .pl-4;
		    }	
		    a{
		    	&.ficha-tecnica{
		    		@extend .btn;
		    		@extend .btn-outline-danger;
					@include media-breakpoint-up(sm) {
				        width: auto;
				    }
					@include media-breakpoint-down(sm) {
				        width: 100%;
				    }
		    	}
		    }
		}
		.swiper-container {
			width: 100%;
			height: 300px;
			margin-left: auto;
			margin-right: auto;
			&.gallery-thumbs {
				height: 90px;
				width: 100%;
			}
		}
		.swiper-slide {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.gallery-thumbs {
			height: 100px;
			box-sizing: border-box;
			padding: 10px 0;
		}
		.gallery-thumbs .swiper-slide {
			width: 25%;
			height: 60px;
			opacity: 0.4;
		}
		.gallery-thumbs .swiper-slide-thumb-active {
			opacity: 1;
		}
	}
	.woocommerce-breadcrumb{
		@extend .px-3;
		font-family: 'Encode Sans Expanded', sans-serif;
		a{
			font-family: 'Encode Sans Expanded', sans-serif;
		}
	}
}
.shortcut-galeria{
	h2{
		@extend .text-center;
	}
	img{
		width:100%;
	}
	.swiper-container {
		width: 100%;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
		&.gallery-thumbs {
			height: 90px;
			width: 100%;
		}
	}
	.swiper-slide {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.gallery-thumbs {
		height: 100px;
		box-sizing: border-box;
		padding: 10px 0;
	}
	.gallery-thumbs .swiper-slide {
		width: 25%;
		height: 60px;
		opacity: 0.4;
	}
	.gallery-thumbs .swiper-slide-thumb-active {
		opacity: 1;
	}	
}
.oferta{
	h2{
		color: $vincent-blue;
		small{
			white-space: nowrap;
			color: $gray-500;
		}
	}
	.oferta-body{
		@include media-breakpoint-up(sm) {
			p,ul{
				font-size: $font-size-base*1.4;
			}
		}
		@include media-breakpoint-down(sm) {
			p,ul{
				font-size: $font-size-base*1.2;
			}
		}
	}
}
.see-all-offers-btn{
	@extend .d-block;
	@extend .mx-auto ;
	@extend .btn ;
	@extend .btn-danger;
	@extend .text-uppercase;
	max-width: 400px;
	font-weight: bold;
	
}

.bottom-dock{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: auto;
	color: white;	
	z-index: $zindex-fixed;
	@include media-breakpoint-down(sm) {
		bottom:70px;
	}
	@include media-breakpoint-up(sm) {

	}

	.dock-button{
		background-color: $vincent-blue;
		text-align: center;
		padding: 4px;
		font-weight: bold;
		@include media-breakpoint-between(lg,xl) {
			font-size: $font-size-base*1.9;
			border-radius: 6px 6px 0 0;
			margin-right: 20px;
			margin-left: auto;
			max-width: 350px;
	    }
	    @include media-breakpoint-between(md,lg) {
			font-size: $font-size-base*1.4;
			border-radius: 6px 6px 0 0;
			margin-right: 20px;
			margin-left: auto;
			max-width: 280px;
	    }
		@include media-breakpoint-down(sm) {
			font-size: $font-size-base*1.6;
			border-radius: 6px 0px 0 6px;
			margin-right: 0;
			margin-left: auto;
			width: 45%;
			min-width: 200px;
			max-width: 250px;
	        
	    }
		a{
			display: block;
			width: 100%;
			text-decoration: none;
			color: inherit;
			outline: none;
		}
		#collapseContacto{
			z-index: $zindex-fixed+1;
			border-radius: 6px 6px 6px 6px;
			background-color: $body-bg;
			a{
				@extend .p-2;
				color: $vincent-blue
			}
		}
		img{
			display: block;
			width: 50%;
			max-width: 80px;
			height: 3px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.dock-panel{
		@extend .py-2;
		background-color: $vincent-blue;
		color: $white;
		.panel-btn{
			@extend .mt-2;
			font-size: $font-size-base*1.6;
			font-weight: bold;
			background-color: white;
			width: 100%;
			color: $vincent-blue;
		}
		p{
			font-size: $font-size-base*1.1;
		}
		

	}
}
#solution-blocks{

}

#collage-gallery{
	.gallery-grid-img{
		display: block;
		margin: 2px;
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		&.s1{
			height: 200px;
		}
		&.s2{
			height: 250px;
		}
		&.s3{
			height: 300px;
		}
	}
}