// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

// Variables
@import 'variables';

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

//swiper
@import "../../node_modules/swiper/dist/css/swiper"; 

body{
	//margin-top: -32px;
	font-family: 'Encode Sans Expanded', sans-serif;
}

section {
	@extend .pt-2;
	@extend .pb-3;
    @include make-row();
    h1{
    	@extend .text-center;
    	@extend .d-block;
    	@extend .px-2;
    	width: 100%;
    	color: $gray-800;
    }
}

.site-logo{
	@include media-breakpoint-up(sm) {
        @include make-col(3);
        padding: 20px;
        max-width: 210px;	
        
    }
    @include media-breakpoint-down(sm) {
        // Smaller than md: 768px
        @include make-col(12);
        .logo{
        	width: 25%;
        	margin-left: auto;
        	margin-right: auto;
        }
	}
}

.menu{

	@extend .nav; 
	@extend .flex-row; 
	@extend .justify-content-end;		
	li{
		@extend .nav-item;
		a{
			@extend .nav-link;
			text-transform: uppercase;
		}
	}
	.current-menu-item{
		a{
			color: $orange;
		}
	}

	@include media-breakpoint-up(sm) {
        @include make-col(3);
        padding-top: 20px;
        
    }
    @include media-breakpoint-down(sm) {
        // Smaller than md: 768px

	}
}

.swiper-container {
  width: 100%;
  height: auto;
  //max-height: 700px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

footer{
	.footer-logo{
		@extend .p-4;
		@extend .d-block;
		@extend .mx-auto;
	}
	.bottom-text{
		color: $gray-500;
		width: 100%;
	}
	.footer-company-about{
		@extend .p-2;
		@extend .text-center;
		color: $gray-600;
	}
	.footer-center{
		.footer-contact-pill{
			@extend .d-block;
			@extend .p-2;
			@extend .px-4;
			i{
				
				background-color: $gray-800;
				color: $body-bg;
				font-size: 16px;
				border-radius: 50%;
				text-align: center;
				line-height: 42px;
				vertical-align: middle;
				width: 38px;
				height: 38px;
			}
			p{
				display: inline-block;
				color: $gray-800;
				font-weight: bold;
				vertical-align: middle;
				margin: 0;
				span{
					display: block;
					font-weight: normal;
					font-size: 14px;
					line-height: 2;
				}
			}
			a{
				color: black;
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}
.flags{
	@extend .mx-auto;
	width: auto;
	max-width: 230px;
}
.proud-to-be{
	@extend .d-block;
	@extend .mx-auto;
	width: auto;
	max-width: 100px;
}
.brands{
	@include make-col(12);
	.row{
		@include media-breakpoint-up(sm) {
			padding-left: 15%;
			padding-right: 15%;
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        padding-left: 10%;
			padding-right: 10%;
	    }	

	}
	.icon{
		@extend .p-2;
		@extend .px-3;
		@include media-breakpoint-up(sm) {
	        @include make-col(2);
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(4);
	    }		
	}
	h1{
    	font-size: 1.5rem;
    }
}

.sale-point{
	@extend .px-4;
	@include media-breakpoint-up(sm) {

	    @include make-col(4);
	    .icon{
	    	@include make-col(12)
	    	height: 100px;
	    }
	    .sale-text{
	    	@include make-col(12)
	    	text-align: center;
	    }
        
    }
    @include media-breakpoint-down(sm) {
        // Smaller than md: 768px
        @include make-col(12);
	    .icon{
	    	@include make-col(3)
	    }
	    .sale-text{
	    	@include make-col(9)
	    	text-align: left;
	    	padding: 5px
	    	
	    }
	}
	.img-fluid{
		width: 100%;
		max-width: 100px;
	}
}
.fancy-font{
	width: 100%;
	font-family: 'Kaushan Script', cursive;
	font-size: 2.3rem;
}
#manutenciones{
	p{
		@extend .text-center;
	}
}
.blog-single-resumido{
	@extend .p-3;
	@include media-breakpoint-up(sm) {
        @include make-col(4);
    }
    @include media-breakpoint-down(sm) {
        // Smaller than md: 768px
        @include make-col(12);
    }
    img {
		object-fit: cover;
		width:100%;
		height:230px;
	}
	h2{
		@extend .pt-2;
		font-size: $font-size-base*1.4;
		max-height: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	p{
		@extend .text-justify;
		max-height: 100px;
		overflow: hidden;
		text-overflow:ellipsis;
	}

}
article{
	@extend .px-3;
	p{
		@extend .text-justify;
	}
	.wp-block-image{
		img{
			@extend .d-block;
			@extend .mx-auto;
			@extend .img-fluid;
		}
	}
}
.nav-links{
	@include make-row();
	@extend .px-4;
	width: 100%;
	.nav-previous{
		@include media-breakpoint-up(sm) {
	        @include make-col(6);
	        text-align: left;
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(12);
	        text-align: center;
	    }	
	}
	.nav-next{
		@include media-breakpoint-up(sm) {
	        @include make-col(6);
	        text-align: right;
	    }
	    @include media-breakpoint-down(sm) {
	        // Smaller than md: 768px
	        @include make-col(12);
	        text-align: center;
	    }

	}
	a{
		width: 100%;
	}
}